@page "{id:int?}"
@model MegaDeskWeb_Angeles.Pages.Quotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
    <div class="pageWrapper">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>DeskQuote</h4>
            <div id="flex">
                <div>
                    <h4>Customer Information</h4>
                    <div class="detailBorder">
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.CustomerName):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.CustomerName)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.QuoteDate):</span>
                        @Html.DisplayFor(model => model.DeskQuote.QuoteDate)<br />
                    </div>
                </div>
                <div>
                    <h4>Desk Specifications</h4>
                    <div class="detailBorder">

                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.Width):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.Width)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.Depth):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.Depth)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.Drawers):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.Drawers)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.Material):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.Material)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.Rush):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.Rush)<br />
                    </div>
                </div>
                <div>
                    <h4>Cost Breakdown</h4>
                    <div class="detailBorder">

                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.MaterialCost):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.MaterialCost)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.SurfaceAreaCost):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.SurfaceAreaCost)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.RushCost):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.RushCost)<br />
                        <span class="font-weight-bold">@Html.DisplayNameFor(model => model.DeskQuote.QuoteTotal):&nbsp</span>@Html.DisplayFor(model => model.DeskQuote.QuoteTotal)<br />
                    </div>
                </div>
            </div>
            
            <form method="post">
                <input type="hidden" asp-for="DeskQuote.ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>
    </div>