@page "{id:int?}"
@model MegaDeskWeb_Angeles.Pages.Quotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
 
    <div>
        @Html.DisplayNameFor(model => model.DeskQuote.CustomerName)
        @Html.DisplayFor(model => model.DeskQuote.CustomerName)
        @Html.DisplayNameFor(model => model.DeskQuote.QuoteDate)
        @Html.DisplayFor(model => model.DeskQuote.QuoteDate)
    </div>
    <div>
            @Html.DisplayNameFor(model => model.DeskQuote.Width)
        
            @Html.DisplayFor(model => model.DeskQuote.Width)
        
            @Html.DisplayNameFor(model => model.DeskQuote.Depth)
        
            @Html.DisplayFor(model => model.DeskQuote.Depth)
        
            @Html.DisplayNameFor(model => model.DeskQuote.Drawers)
       
            @Html.DisplayFor(model => model.DeskQuote.Drawers)
        
            @Html.DisplayNameFor(model => model.DeskQuote.Material)
        
            @Html.DisplayFor(model => model.DeskQuote.Material)
       
            @Html.DisplayNameFor(model => model.DeskQuote.Rush)
        
            @Html.DisplayFor(model => model.DeskQuote.Rush)
        </div>
    <div>
        @Html.DisplayNameFor(model => model.DeskQuote.MaterialCost)

        @Html.DisplayFor(model => model.DeskQuote.MaterialCost)

        @Html.DisplayNameFor(model => model.DeskQuote.SurfaceAreaCost)

        @Html.DisplayFor(model => model.DeskQuote.SurfaceAreaCost)

        @Html.DisplayNameFor(model => model.DeskQuote.DrawerCost)

        @Html.DisplayFor(model => model.DeskQuote.DrawerCost)

        @Html.DisplayNameFor(model => model.DeskQuote.RushCost)

        @Html.DisplayFor(model => model.DeskQuote.RushCost)

        @Html.DisplayNameFor(model => model.DeskQuote.QuoteTotal)

        @Html.DisplayFor(model => model.DeskQuote.QuoteTotal)
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
